<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Getting Started</title>
  <script defer src="frontend/main.js"></script>
  <link href="frontend/main.css" rel="stylesheet">
</head>
<body>
<div data-vue-container>
  <my-paragraph text="Hello World! (#1)"></my-paragraph>
  <my-counter text="Lets count!"></my-counter>
  <my-paragraph text="Bye!"></my-paragraph>
</div>

<div data-vue-container>
  <template>
    <my-paragraph text="Hello World! (#2)"></my-paragraph>
    <my-counter text="Lets count!"></my-counter>
    <my-paragraph text="Bye!"></my-paragraph>
  </template>
</div>

<div data-vue-container>
  <script type="text/x-template">
    <MyParagraph text="Hello World! (#3)" />
    <MyCounter text="Lets count!" />
    <MyParagraph text="Bye!" />
  </script>
</div>
</body>
</html>
